.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  height: 90vh; 
  background-color: #eceff1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  font-size: 36px;
  margin-bottom: 20px;
  color: #2196f3; 
}

.counter {
  font-size: 24px;
  margin-bottom: 20px;
}

.counter label.zero {
  color: #9e9e9e; 
}

.increment-button {
  background-color: #2196f3; 
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.increment-button:hover {
  background-color: #1976d2; 
}

/* Change the background color when the button is pressed */
.increment-button:active {
  background-color: #2962ff; 
}

.reset-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.reset-button:hover {
  background-color: #d32f2f; 
}

/* Change the background color when the button is pressed */
.reset-button:active {
  background-color: #263238; 
}

/* Joke div styling */
.joke{
  font-size: 24px;
  margin-bottom: 20px;
  color: #607d8b;
}

.joke_title{
  font-size: 28px;
  color: #546e7a;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}